{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'auctions/index.css' %}">

<h2>Active Listings</h2>
<form action="{% url 'displayCategory' %}" method="post">
    {% csrf_token %}
    <select name="category" id="category-select">
        {% for category in categories %}
            <option value="{{ category.categoryName }}">{{ category.categoryName }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>

{% for listing in listings %}
    <a href="{% url 'listing' listing.id %}">
        <div class="listing">
            <img src="{{ listing.imageUrl }}" alt="image">
            <div class="detail">
                <h6>{{ listing.title }}</h6>
                <p>{{ listing.description }}</p>
                <div>{{ listing.price }}</div>
            </div>
            </a>
            <div class="time">
                {{ listing.created_at }}
            </div>

			    <form action="{% url 'wishlist' %}" method="POST">
			        {% csrf_token %}
			        <button name="listing_id" value="{{listing.id}}" class="btn btn-danger" type="submit">Remove From WatchList</button>
			    </form>
	
	       </div>
    
{% endfor %}
{% endblock %}
